<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @keyword.site_id %>
</p>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
