<h1>Listing sites</h1>

<table class="table">
  <tr>
    <th>name</th>
    <th>domain</th>
    <th>note</th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.domain %></td>
    <td><%= truncate(site.note, :length => 30) %></td>
    <td class="last">
        <%= link_to 'Show', site %> |
        <%= link_to 'Edit', edit_site_path(site) %> |
        <%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>


<table class="table">
  <thead>
    <th>Date</th>
    <% @sites.each do |site| %>
      <th><%= site.name %></th>
    <% end %>
  </thead>
  <% @days.times do |i| %>
    <% date = Date.today - i.days %>
    <tr>
        <td><%=l date %></td>
        <% @sites.each do |site| %>
          <% idx = @logs.index{ |log| log.checked_at.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") and log.site_id == site.id } %>
          <% links = idx ? @logs[idx].links : 0 %>
          <td class="number"><%=n links %></td>
        <% end %>
    </tr>
  <% end %>
</table>
